<head>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

  <!-- font awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>

  <!-- Masonry -->
    <script src="https://npmcdn.com/masonry-layout@4.0/dist/masonry.pkgd.min.js"></script>
    
  <!-- CSS -->
  <link href="public/css/stylesheet.css" rel="stylesheet">

  <title>ILBlog</title>
</head>

<header>
  <div class="logo col-md-12">
    <img src="/public/img/logo.png">
  </div>
</header>

<body>

  <!-- parallax -->
  <div class="parallax-container col-md-10">
    <div class="parallax"></div>
    <div class="container">
      <div class="col-md-5"></div>
      <div class="row title">
        <h1 class="header text-center">Leadership Coaching Made Simple</h1>
      </div>
    </div>
  </div>
  <div class="section white"></div>

  <div class="container col-md-10 box">
    <!-- <div class="row"> -->
      <div class="post1 col-md-6">
        <h3>Discovering Your Strengths</h3>
        <br>
        <p>Everyone has the ability to be a leader, while some people have a stronger presence of that ability, it doesn’t necessarily mean that they’re a better leader than the person next to them.  What makes a person a better leader is how they utilize their skills, knowledge, and the help from their peers. </p>
        <a class="continue" href="/public/first-post.ejs">Continue</a>
      </div>
 
      <div class=" col-md-4 subscribe">
      <!-- <div class="row"> -->
            <div >
            <div class="thumbnail center well well-sm text-center">
                    <h2>Newsletter</h2>
                    
                    <p>Subscribe to our weekly Newsletter and stay tuned.</p>
                    
                    <form action="" method="post" role="form">
                        <div class="input-group">
                          <span class="input-group-addon">
                            <i class="fa fa-envelope"></i>
                          </span>
                          <input class="form-control" type="text" id="" name="" placeholder="your@email.com">
                        </div>
                        <input type="submit" value="Subscribe" class="btn btn-large btn-primary" />
                  </form>
                </div>    
            </div>
      <!-- </div> -->
    </div>
    
     <div class="post2 col-md-6">
        <h3>Motivating Your Team</h3>
        <br>
        <p>There’s no doubt you have a great team. Its what sets your group apart from the rest, each team member is highly skilled with the ability and the potential to generate great success. However, while your team is more than capable of accomplishing any task presented to them,  it is important to remember that your teams high motivation level is what sets them apart. While it is the goal of each team member to help move the organization closer to its vision,  it is your goal to keep your team inspired to continue moving forward.</p>
        <a class="continue" href="public/second-post.ejs">Continue</a>
     </div>

      <!-- Twitter Feed -->
      <div class="twitter col-md-4">
        <a class="twitter-timeline" href="https://twitter.com/InvincibleLdrs" data-widget-id="725819791533985792">Tweets by @InvincibleLdrs</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
      </div>


      <div class="post3 col-md-6">
        <h3>Setting Goals</h3>
<!--         <main role="main">
        <% posts.forEach(function(post){ %>
            <h3>
              <a href="/post/<%=post.slug %>">
                <%= post.title %>
              </a>
            </h3>
            <div><%=post.content%></div>
        <% }); %>
        </main> -->
      </div>

      <div class="post4 col-md-4">
        <h3>Being A Leader</h3>
        <br>
        <p>
          Successful leaders all have something in common;  the ability to motivate, inspire, and challenge their peers.
        </p>
        <a class="continue" href="public/fourth-post.ejs">Continue</a>
      </div>

  </div>

</body>

<footer class="navbar-default navbar-fixed-bottom">
  <div class="container-fluid">
    <span><i class="fa fa-envelope contact" aria-hidden="true"> InvincibleLeaders@gmail.com</i></span>
    <a class="twitter_focused tsc_social_focused" title="twitter" href="https://twitter.com/InvincibleLdrs?ref_src=twsrc%5Etfw"><i class="fa fa-twitter fa-2x" aria-hidden="true"></i></a>
  </div>
</footer>
