.parallax-container{
	position: relative;
    width: 100%;
    height: 700px;
	background: url(/img/IL.jpg) no-repeat center center scroll;
	background-attachment: fixed;
	background-position: 50% 0;
	background-repeat: no-repeat;
	margin-top: 2%;
}